<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>СКФ</title>
    <link rel="stylesheet" href="/static/styles/order_style.css">
</head>
<body>
    <div class="header">
        <a class="home-btn" href="/services">Домой</a>
    </div>
    <div class="content">
        <div class="order-card">
            <img src="/static/img/male.png" alt="Аватар" class="avatar-order">
            <span class="order-title">Скорость клубочковой фильтрации</span>
            <span class="order-result">0 мл/мин/1.73м²</span>
        </div>
    </div>
</body>
</html>