<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Категория: {{ .category.Name }}</title>
    <link rel="stylesheet" href="/static/styles/patient_style.css">
</head>
<body>
    <div class="header">
        <a class="site-title" href="/patient-categories">СКФ-Мед</a>
    </div>
    <div class="content">
        <div class="patient-detail-card">
            {{ if .imageURL }}
            <img src="{{ .imageURL }}" alt="Аватар" class="avatar-big">
            {{ else }}
            <img src="/static/img/default.png" alt="Аватар" class="avatar-big">
            {{ end }}
            <div class="info">
                <div class="fio">{{ .category.Name }}</div>
                <div class="info-list">
                    <div>Описание: {{ .category.Description }}</div>
                    <div>Средний возраст: {{ .category.Age }} лет</div>
                    <div>Пол: {{ .category.Gender }}</div>
                    <div>Категория для расчета СКФ по формуле CKD-EPI</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
